.title{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: 'Inter', sans-serif;
    color: #ddd;
    cursor: pointer;
    line-height: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.title:hover{
    color: #1b5ba9; /* Меняем цвет текста */
}




.moduleLine {
    background: #1b5ba9;
    width: 70px;
    height: 1px;
    margin: 30px auto;
}